{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
  <h1>ICI, TOUT COMMENCE</h1>
  first step var/vendor : composer update
  <br>
  second step créer la base de donnée : php bin/console doctrine:database:create
  <br>
  third step tool bar : composer require symfony/apache-pack
{% endblock %}
